<head>
<title> <%= title %> </title>
</head>
<body>
  <h1> <%= title %>|<%= widget.name %> </h1>
  <ul>
    <li>ID: <%= widget.id %></li>
    <li>ID: <%= widget.name %></li>
    <li>ID: <%= widget.price.toFixed(2) %></li>
    <li>ID: <%= widget.desc %></li>
  </ul>
</body>

